/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body{
    font-family: Arial, Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.items-not-ranked{
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 15px;
}

.unranked-cell{
    width:80px;
    text-align: center;
    margin-left: 3px;
}

.unranked-cell img, .rank-cell img{
    width: 100%;
    height: 100%;
}


.ranking{
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-self: center;
    margin-bottom: 15px;
}

.rank-row{
    height: 122px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 3px;
    margin-bottom: 4px;
}

.rank-cell{
    width: 122px;
    text-align: center;
    display: flex;
    align-items: center;
}

.row-label{
    width: 150px;
    text-align: right;
    display: flex;
    align-items: center;
    margin-left: 6px;
}
.top-tier{
    background-color: limegreen;
}

.middle1-tier{
    background-color: palegoldenrod;
}

.middle2-tier{
    background-color: darkorange;
}

.bottom-tier{
    background-color: firebrick;
}